body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: orange;
  padding: 20px;
  color: white;
}

.App-content {
  padding: 20px;
}

.App-footer {
  background-color: orange;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
}


.marathon-plan-container {
  overflow-x: auto;
  white-space: nowrap;
  margin: 20px 0;
}


.marathon-plan {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 20px;
}

.marathon-plan-day-container {
  width: 300px;
  margin-right: 20px;
  animation: slideInRight 0.5s ease forwards;
  opacity: 0;
  animation-delay: calc(0.1s * var(--index));
}


.marathon-plan-day {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.road-image {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}


@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.day-text {
  text-align: center;
}
.login-form {
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin: 0 auto;
}

.strava-login {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.strava-code-input {
  width: calc(100% - 40px);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}


.connect-to-strava-button {
  background-color: orange;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.connect-to-strava-button img {
  width: 30px;
  margin-right: 10px;
}


.login-button {
  background-color: orange;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}